
/* ***************************************
Overwriting elgg specific styles here
*************************************** */

#header ul#global-navigation {
    width: 550px;
}

#subheader {
/*  overflow: visible;*/
}

h1, h2, h3, h4, h5, h6, p, ul, ol, table, pre, blockquote, .box small {
/*    margin-left: 0px;*/
/*    margin-right: 0px;*/
}

h3 {
    font-size: 1em;
}

ul.dropdown,
ul.dropdown ul {
  list-style: none outside;
  margin: 0;
}

#two_column_left_sidebar_maincontent {
-moz-border-radius:8px 8px 8px 8px;
background: #fefefe;
float:left;
margin:0;
min-height:360px;
padding:0 0 5px;
}

#two_column_left_sidebar_maincontent.grid_13 {
  width: 760px;
}

.contentIntro p {
  margin: 0 1.5em 2em 0;
  float: left;
}

#content_area_user_title.box-header {
  margin-top: 1px;
}
#content_area_user_title.box-header h2 {
  margin-bottom: 0;
}
.navigation ul {
  list-style: none inside;
  margin: 0;
  padding: 0;
}

#owner_block_rss_feed {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 1em;
  padding-top: 0.5em;
}

.admin_statistics, .admin_users_online, .usersettings_statistics, .admin_adduser_link, #add-box, #search-box, #logbrowser_search_area {

border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;

background: white;
border: 1px solid #ddd;
margin: 0 10px 10px;
padding: 10px;

}


/* ================ */
.menuitemtools {}

.submenuitemtools {
  box-shadow: 0 2px 1px #ddd;
  -moz-box-shadow: 0 2px 2px #ddd;
  -webkit-box-shadow: 0 2px 2px #ddd;
  background: #f6f6f6 url("../css/images/gradient-light-short-02.png") repeat-x scroll 0 -23px;
  border-color: transparent #F6F6F6 #EEEEEE;
  border-color: transparent #e6e6e6 #ccc;
  border-style: solid;
  border-width: 1px;
  display: none;
  font-size: 12px;
  list-style: none inside none;
  margin: 0;
  padding: 5px 0 0.5em;
  position: absolute;
  z-index: 9999;
  
  border-bottom-left: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left: 5px;
  -khtml-border-bottom-left: 5px;
  
  border-bottom-right: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right: 5px;
  -khtml-border-bottom-right: 5px;
}
  .submenuitemtools li {
    margin: 0 10px;
    padding: 2px 0;
  }
/* ================ */
#page_container {
  margin-left: auto;
  margin-right: auto;
}

#page_wrapper.grid_13 {
  width: 760px;
}
#page_wrapper.grid_16 {
  width: 940px;
}
#page_wrapper {
  margin: 0 auto;
  min-height: 300px;
  padding: 15px 0;
}

#layout_canvas {
  /* override original style*/
  border-radius: inherit;
  -moz-border-radius: inherit;
  -webkit-border-radius: inherit;
  -khtml-border-radius: inherit;
  
  background: transparent;
  border-bottom: none;
  border-right: none;
  margin: 0;
  min-height: 360px;
  padding: 0;
}

#dashboard_info {
  background: none repeat scroll 0 0 #BBDAF7;
  border-bottom: none;
  border-right: none;
  margin: 0 0 0;
  padding: 2px 5px;
}

#persistent_login {
  margin-top: -2.5em;
  margin-right: 9em;
}


.search_listing {
  margin-bottom: 2em;
}

.index_members {
  float: left;
  width: 40px;
  margin-right: 0.5em;
}

.loginbox {
  margin-left: 143px;
}



.collapsable_box {
  margin-top: -15px;
}
.box-header h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2em;
}
.toggle_box_contents,
.toggle_box_edit_panel {
  float: right;
}

.collapsable_box_editpanel {
  border: none;
  padding: 0;
  margin: 0;
}

/* == Widgest ============================================================= */
#widgets_left,
#widgets_right,
#widgets_middle {
  float: left;
  width: 280px;
}

a.button {
  padding: 0.3em 0.8em;
  text-decoration: none;
}
.pluginsettings,
.manifest_file {
  display: none;
}

.box-header-edit {
  float: right;
  display: inline;
}

.contentWrapper {
  background-color: transparent;
  margin: 0 1em 1em;
  overflow: hidden;
}
.contentWrapper h2,
.contentWrapper h3 {
  margin-left: 0;
}

#collapsable_box_editpanel {
  display: none;
}


.simplepie_blog_title {
  text-align: left;
}

.simplepie_blog_title h2 {
  margin-top: -0.5em;
}

.simplepie_title h4 a {
  color: #690;
}
.simplepie_blog_title h2,
.simplepie_title h4 {
  margin-left: 0!important;
  margin-bottom: 0.5em;
}

.simplepie_item {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 1em;
}
.simplepie_item:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.plugin_details {

}




/* TEMP - Remove later */

#customise_editpanel table.draggable_widget h3 {
width: 100%;
background: #eee;
}

.draggable_widget {
  width: 85%;
  background: #eee;
  margin-bottom: 0.5em;
}

/* == Move to base.css of bento-theme ===================================== */

#header #global-search-form input {
  font: inherit;
}

/*  this is also in siki local css => style.css Line 35 
    Should be merged into base.css */
#local-user-actions a {
  margin-right: 10px;
  text-decoration: none;
}

.textleft { text-align: left; }
.textcenter { text-align: center; }
.textright { text-align: right; }


.box-header.top-zero {
  margin-top: -15px !important;
}

.box.box-settings {
  background-color: #eee;
}

#customise_page_view td {
  vertical-align: top;
}

td.box {
  margin: 0 0.5em;
}

.ui-droppable {
  min-height: 20em;
  margin: 0 0.5em;
  width: 16.3em;
}
.drag-handle,
.more-info {
  width: 100%;
  height: 100%;
  display: block;
}
.more-info {
  background: blue;
}
.drag-handle {
  background: fuchsia;
}

.collapsable_box_editpanel {
  border-bottom: 1px solid #eee;
  display: none;
  padding: 0.5em 0 0.5em;
  position: relative;
}

.collapsable_box_editpanel .submit_button {
/*  position: absolute;
  bottom: 1em;
  right: 1em;*/
  margin-top: 1.5em;
}



.toggle_box_contents,
.toggle_box_edit_panel {}
.toggle_box_edit_panel {
  text-transform: uppercase;
}

a.toggle_customise_edit_panel {
  width: auto;
}

.collapsable_box_header,
.collapsable_box_content {
  height: auto;
}

.collapsable_box_header {
}
.collapsable_box_content {
}

.collapsable_box_header h1 {
  margin: 0;
  padding: 0.5em 0;
}

.collapsable_box_editpanel p {
  margin-left: 1em;
  margin-right: 1em;
}



#customise_page_view table {
  margin: 0;
}
#customise_page_view table th,
#customise_page_view table td {
  border: none;
}


#customise_editpanel {
  background-color: #eee;
}

#elgg_horizontal_tabbed_nav {
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  margin-bottom: 1em;
}

#elgg_horizontal_tabbed_nav ul {
  margin: 0;
}

#elgg_horizontal_tabbed_nav li {
  float: left;
  margin: 0.5em;
}
#elgg_horizontal_tabbed_nav li.selected a {
  color: #690;
  font-weight: bold;
}
  #elgg_horizontal_tabbed_nav li a:hover {
    background: none;
  }
#elgg_horizontal_tabbed_nav + div.group_count {
  clear: both;
}


#two_column_left_sidebar_maincontent_boxes {
  min-height: 25em;
}

.search_listing {
  background-color: #efefef;
  margin-bottom: 1em !important;
  border-width: 1px !important;
  border-color: #fff !important;
  margin: 0.5em 1em 1em;
}
.search_listing .groupicon {
  margin: 1em 0 0 15px;
}
  .search_listing .groupicon img {
      border: 1px solid #fff;
      }
      
      
#memberssearchform {
  border: none;
}


.sidebarBox .search_input {
  width: 10em;
}


/* disable hover of navigation */

.navigation a:hover, .navigation a:focus {
  background: none;
  color: #3399CC;
}

